@import url("//db.onlinewebfonts.com/c/7f2601fe8fb9981900a68f043ba3e86b?family=StgoticW00-Regular");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
