.bannerOne{
    width: 100%;
}

.countdownWrapper {
    margin-top: 50px;
}


.roadmap {
    width: 390px;
}

.wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmapText{
    color: white;
    font-family: "Stgotic" !important;
    text-align: center;
    font-size: .9rem;
    padding: 0 20px;
}

@media only screen and (max-width: 460px){
    .roadmap {
        width: 270px;
    }
    
}